<div class="container">
    <h3>Login</h3>
    @if (showErrorToast()) {
        <ngb-toast [autohide]="false" (hidden)="showErrorToast.set(false)">
            <b>{{ errorMessage() }}</b>
        </ngb-toast>
    }
    <div class="row">
        <div class="col-md-6">

            <div class="row mt-2">
                <div class="col">
                    <label>Username</label>
                    <input type="text" class="form-control" [(ngModel)]="username">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label>Password</label>
                    <input type="password" class="form-control" [(ngModel)]="password">
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <button class="btn btn-sm btn-outline-success mt-2" (click)="login()">Login</button>
            </div>
        <div class="col-1 mt-3">
            <a [routerLink]="['/register']" style="text-decoration: none;">Register</a>
        </div>
        <div class="col-2 mt-3">
            <a [routerLink]="['/forgot-password']" style="text-decoration: none;">Forgot password?</a>
        </div>
    </div>
</div>
