<div class="container-fluid">
    <h2>BPMN</h2>
    <p>
        BPMN -> Business Process Modeling Notation<br>
        Camunda 7 hat End of Life (EOL) im Oktober 2025 erreicht. <bR>
        Camunda 8 ist kein Open Source mehr aber dafür sündhaft teuer, was sich viele
        Firmen vor allem in Zeiten knapper Kassen nicht mehr leisten können oder wollen. <br>
        Um den Open Source Gedanken weiter hochzuhalten, wurde schon von mehreren Seiten Camunda 7 geforked.<br>
        Wir setzen mit CIB Seven (<a href="https://cibseven.org">https://cibseven.org</a>) einen vielversprechenden
        Fork von Camunda 7 ein.
    </p>
    <div class="row">
        <div class="col-12">
            <div class="mt-5">
                <img src="assets/images/insurance.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>
