<div class="container-fluid">

  @if (!taskList$) {
    ... Loading
  }
  <form>
    <div class="mb-3 row">
      <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-complete-search"
               type="text"
               class="form-control"
               name="searchTerm"
               [(ngModel)]="service.searchTerm"
        />
      </div>
      @if (service.loading$ | async) {
        <span class="col col-form-label">Loading...</span>
      }
    </div>

    <table class="table table-striped table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="customerName" (sort)="onSort($event)">Customer</th>
        <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
        <th scope="col">Type</th>
        <th scope="col" sortable="assignee" (sort)="onSort($event)">Assignee</th>
        <th scope="col">Created At</th>
      </tr>
      </thead>
      <tbody #tableElement>
        @for (task of taskList$ | async; track task.taskId) {
          <tr>
            <td>
              <a [routerLink]="['/tasks', task.taskId]">
                <ngb-highlight [result]="task.taskId" [term]="filter.value"/>
              </a>
            </td>
            <td>
              <ngb-highlight [result]="task.customerName" [term]="filter.value"/>
            </td>
            <td>
              <ngb-highlight [result]="task.title" [term]="filter.value"/>
            </td>
            <td>
              <ngb-highlight [result]="task.type" [term]="filter.value"/>
            </td>
            <td>
              <ngb-highlight [result]="task.assignee" [term]="filter.value"/>
              <app-add-assignee [taskId]="task.taskId" [label]="'add'" (formValue)="reloadList($event)"/>
            </td>
            <td>
              <ngb-highlight [result]="task.createdAt | date: 'dd.MM.yyyy HH:mm'" [term]="filter.value"/>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4" style="text-align: center">patience is a virtue</td>
          </tr>
        }
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="3">3 tasks per page</option>
        <option [ngValue]="10">10 tasks per page</option>
        <option [ngValue]="60">60 tasks per page</option>
      </select>
    </div>
  </form>
</div>
